{{template "base" .}}

{{define "title"}}Edit Comment{{end}}

{{define "body"}}
{{$td := .}}
<form action="/post/comment/edit?id={{.Comment.ID}}" method="post">
    {{with .Form}}

    {{with .Errors.Get "generic"}}
    <div class="error">{{.}}</div>
    {{end}}

    <div>
        <label>Author: {{$td.Comment.Username}}</label><br>
        <label>Created: {{humanDate $td.Comment.Created}}</label>
    </div>

    <div>
        <label>Content:</label>
        {{with .Errors.Get "content"}}
        <label class="error">{{.}}</label>
        {{end}}
        <textarea name="content">{{.Get "content"}}</textarea>
    </div>

    <div>
        <input type="submit" value="Edit comment">
        <a class="button" href='/post?id={{$td.Comment.PostID}}'>Cancel</a>
    </div>
    {{end}}
</form>
{{end}}