{{template "base" .}}

{{define "title"}}Edit Post{{end}}

{{define "body"}}
{{$td := .}}
<form action='/post/edit?id={{.Post.ID}}' method="post">
    {{with .Form}}

    {{with .Errors.Get "generic"}}
    <div class="error">{{.}}</div>
    {{end}}

    <div>
        <label>Author: {{$td.Post.Username}}</label><br>
        <label>Created: {{humanDate $td.Post.Created}}</label>
    </div>

    <div>
        <label>Title:</label>
        {{with .Errors.Get "title"}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" value='{{.Get "title"}}'>
    </div>
    <div>
        <label>Content:</label>
        {{with .Errors.Get "content"}}
        <label class="error">{{.}}</label>
        {{end}}
        <textarea name="content">{{.Get "content"}}</textarea>
    </div>

    <div>
        <input type="submit" value="Edit post">
        <a class="button" href='/post?id={{$td.Post.ID}}'>Cancel</a>
    </div>
    {{end}}
</form>
{{end}}