{{template "base" .}}

{{define "title"}}Sign In{{end}}

{{define "body"}}
{{$td := .}}
<form action="/user/login" method="POST" novalidate>
    <!-- Include the CSRF token -->
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

    {{with .Form}}
    {{with .Errors.Get "generic"}}
    <div class="error">{{.}}</div>
    {{end}}
    <div>
        <label>Username:</label>
        <input type="email" name="name" value='{{.Get "name"}}'>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="Sign In">
    </div>

    <div>
        <a class="button"
            href='https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/cloud-platform openid&response_type=code&redirect_uri=https://forum-099y.onrender.com/auth/google/callback&client_id={{$td.GoogleID}}'>Sign
            In with Google</a>
    </div>

    <div>
        <a class="button" href="/auth/github">Sign In with Github</a>
    </div>
    {{end}}
</form>
{{end}}